package $packageName$;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;


@Service
public class $FileName$Srv {

	@Autowired
	private $FileName$Dao $fileName$Dao;

	@Autowired
	private $FileName$ValidatorSrv $fileName$ValidatorSrv;

	public Map<String, Object> select$FileName$List(Map<String,String> params){

		Map<String, Object> result = new HashMap<String, Object>();

		List<Map<String,Object>> list = null;
		try{
			list = $fileName$Dao.select$FileName$List(params);;
			result.put("isSuccess", true);
			result.put("data", list);
		} catch (Exception e){
			result.put("isSuccess", false);
			result.put("errUserMsg", "시스템 장애가 발생하였습니다");
			result.put("errSysrMsg", e.getMessage());
			e.printStackTrace();
		}
		return result;
	}

	public Map<String, Object> save$FileName$(Map<String,String> params){


		System.out.println($fileName$Dao.select$FileName$Cnt(params));

		Map<String, Object> result = new HashMap<String, Object>();

		Map<String, String> errors = new HashMap<String, String>();
		errors = $fileName$ValidatorSrv.validateSave$FileName$(params);

		if(errors.size()>0){
			result.put("isSuccess", false);
			result.put("errUserMsg", errors.get("errUserMsg"));
			return result;
		} else {
			try{
		    	result.put("isSuccess", true);

			    if  ($fileName$Dao.select$FileName$Cnt(params)==0) {
			    	$fileName$Dao.insert$FileName$(params);
			    	result.put("msg", "입력 되었습니다");
			    } else {
			    	$fileName$Dao.update$FileName$(params);
			    	result.put("msg", "갱신 되었습니다");
			    }
			} catch (Exception e){
				e.printStackTrace();
				result.put("errUserMsg", "시스템 장애가 발생되었습니다.");
			}
			return result;
		}
	}

	public Map<String, Object> delete$FileName$(Map<String,String> params){

		Map<String, Object> result = new HashMap<String, Object>();

		Map<String, String> errors = new HashMap<String, String>();
		errors = $fileName$ValidatorSrv.validateDelete$FileName$(params);
		if(errors.size()>0){
			//model.addAttribute("tb$FileName$", tb$FileName$);
			result.put("isSuccess", false);
			result.put("errUserMsg", errors.get("errUserMsg"));
			System.out.println(result);
			return result;
		} else {
			$fileName$Dao.delete$FileName$(params);
			result.put("isSuccess", true);
			result.put("msg", "삭제 되었습니다");
			return result;
		}
	}

	
}
