package $packNm$;

import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;

@Mapper
public interface $FileName$Dao {

	List<Map<String, Object>> select$FileName$List(Map<String,String> params);
	int select$FileName$Cnt(Map<String,String> params);
	void insert$FileName$(Map<String,String> params);
	void delete$FileName$(Map<String,String> params);
	void update$FileName$(Map<String,String> params);

}

